@import url('https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 62.5%;
    
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h3 {
    font-size: 4rem;
    font-weight: 400;
}

header {
   
    top: -10vh;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: top 0.5s ease;


    /* border: 1px solid red; */
}

header nav ul {
display: flex;
justify-content: space-around;
align-items: center;
list-style: none;

}

header nav ul li {
    margin: 5px;
}
.navlink {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
}

header.active {
    top: 0;
    background: #000000a6;
    position: sticky;
    
}

section {
    padding: 50px;
    z-index: -1;
}

section#enroll {
    height: 70vh;
    /* border: 1px solid blue; */
  margin-top: -10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
     
}

section#enroll img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .6;
}
section#syllabus {
    min-height: 100vh;
    background: white;
    border: 1px solid green;
    color: black;
}

.btn-primary {
    background-color: #E3170A;
    border-radius: 32px;
    padding: 0px 40px;
    font-size: 30px;
    color: white;
    text-decoration: none;
   
}

.accordion, .accordion1 {
    background-color: #2D1E2F;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .accordion .fa {
    
    font-size: 2rem;
    float: right;
    margin-left: 10px;
    transform: translateY(20%);
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 1rem;
  }

  .panel p {
      padding: 18px;
  }