@import url('https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    background-color: black;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 62.5%;
    
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h3 {
    font-size: 4rem;
    font-weight: 400;
    color: white;
} 
 h4 {
font-size: 3rem;
} 
h5 {
    font-size: 2rem;
} 
p, li {
    font-size: 1rem;
}

header {
   
    /* top: -10vh; */
    position: relative;
    z-index: 3;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: top 0.5s ease;


  
} 

header nav ul {
display: flex;
justify-content: space-around;
align-items: center;
list-style: none;

}

header nav ul li {
    margin: 15px;
}
.navlink {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
}

header.active {
    top: 0;
    background: #000000a6;
    position: sticky;
    
}

section {
    padding: 50px;
    z-index: -1;
    margin-top: -10vh;
}

 section#enroll {
    height: 100vh;
   background: black;
  /* margin-top: -10vh; */
  /* position: relative; */

     
} 

section#enroll img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .6;
}


section#syllabus h3 {
    font-size: 3rem;
    color: black;
}

section#syllabus p.tagline {
    text-align: center;
    font-size: 1.5rem;
}

section#syllabus .syllabus {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.pp-tableCell div {
    text-align: center;
}
.btn-primary {
    background-color: #E3170A;
    border-radius: 32px;
    padding: 0px 40px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.accordion p, .accordion1 p{
    background-color: #2D1E2F;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .accordion1 {
      cursor: default;
  }

  .accordion .fa {
    
    font-size: 2rem;
    float: right;
    margin-left: 10px;
    transform: translateY(20%);
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
   
  }

  .panel p {
      padding: 18px;
      font-size: 1rem;
      text-align: left;
  }

  section#privacy h5 {
      text-align: left;
      font-weight: bold;
      
  }

  footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 10vh;
      position: absolute;
      bottom: 0;
      width: 100vw;
  }

  footer ul {
      
      list-style: none;
      
  }
  footer ul li a {
      color: white;
      text-decoration: none;
  }
  
 
